.last-restaurant-card:last-child {
    padding-bottom: 40px;
}

.restaurant-card-img {
    border-radius: 100px;
    height: 53px;
    width: 53px;
}

.restaurant-card-row_title {
    display: flex;
    flex-wrap: nowrap !important;
}

.restaurant-card-h2 {
    cursor: pointer;
    font-size: 16px !important;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 80% !important;
}

.restaurant-card-icon {
    padding: 0;
    width: 20px !important;
}

.restaurant-card-description {
    color: #8c8c8c;
    font-size: 0.75rem;
    margin-bottom: 0;
}

.check-icon {
    color: #08da08;
}

.star-icon {
    color: #caca01;
}

.watch-icon {
    color: #d93d86;
}

.gps-icon {
    color: #ff0000;
}

@media screen and (min-width: 940px) {
    .restaurant-card-img {
        height: 70px !important;
        width: 70px !important;
    }

    .restaurant-card:hover {
        background-color: #f0f0f0c0;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.616);
        transform: scale(1.05);
        transition: .5s linear;
    }
}
