.search {
    border: 2px solid rgb(245, 247, 251);
    border-radius: 10px;
    height: 35px;
}

.search-navbar {
    background-color: #fefefe;
    border: 2px solid rgb(245, 247, 251);
    border-radius: 10px;
}

.search-bar {
    background-color: #fefefe;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    width: 100%;
}

.search-btn {
    background-color: #fefefe;
    border: none;
    border-radius: 0 10px 10px 0;
}

.filter-btn {
    background-color: #fefefe;
    border: 2px solid rgb(245, 247, 251);
    border-radius: 10px;
}

.search-filter-wrapper {
    position: relative;
}

.icon {
    color: #d93d86;
}
