.nav {
    padding: 0 !important;
}

.home-icon, 
.car-shopping-icon, 
.profile-icon, 
.logout-icon {
    color: #d93d86;
}

@media screen and (min-width: 940px) {
    .nav {
        opacity: 0;
    }
}
