.dish-card-wrapper:last-child {
    padding-bottom: 40px;
}

.dish-card {
    box-shadow: 0.1rem 0.1rem 0.4rem #8c8c8c33;
    position: relative;
}

.dish-card-body {
    padding: 10px 20px !important;
}

.dish-card-img {
    border-radius: 10px;
    height: 6rem;
    width: 6rem;
}

.dish-card-h2 {
    color: #414141;
    font-size: 16px !important;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;  
}

.dish-card-restaurant_description {
    color: #8c8c8c;
    display: -webkit-box;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.dish-card-price {
    color: #414141;
}

.add-btn {
    bottom: -1px;
    position: absolute;
    right: 22.8px;
    width: 30px !important;
}

.add-btn button, 
.add-btn button:hover, 
.add-btn button:active {
    background-color: #d93d86;
    border: 1px solid #d93d86;
    border-radius: 8px 0 8px 0;
    height: 25px;
}

.bsPlusLg {
    color: #fefefe;
}

@media screen and (min-width: 940px) {
    .dish-card-img {
        height: 7rem;
        width: 7rem;
    }

    .dish-card-restaurant_description {
        font-size: 0.95rem;
    }

    .dish-card:hover {
        background-color: #f0f0f0c0;
        border-radius: 8px;
        box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.616);
        transform: scale(1.05);
        transition: .5s linear;
    }
}
