.search {
    border: 2px solid rgb(245, 247, 251);
    border-radius: 10px;
    height: 40px;
}

.search-bar {
    background-color: #fefefe;
    border: none !important;
    border-radius: 10px 0 0 10px;
    outline: none;
    width: 100%;
}

#search-btn {
    background-color: #fefefe;
    border: none;
    border-radius: 0 10px 10px 0;
}

#filter-btn, #delivery-btn {
    background-color: #fefefe;
    border: 2px solid rgb(245, 247, 251);
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    padding: 6px;
}

.search-icon, 
.filter-icon, 
.bike-icon, 
.drop-icon {
    color: #d93d86;
    font-size: 14px;
}

@media screen and (min-width: 640px) {
    .search-icon, 
    .filter-icon, 
    .bike-icon, 
    .drop-icon {
    font-size: 16px;
    padding: 6px 12px;
}
}

@media screen and (min-width: 940px) {
    .searchbar-container {
        width: 850px !important;
    }
}
