.back-btn {
    border: none;
    color: #d93d86;
}

.logo {
    width: 35px;
    padding: 5px;
}

.exit-icon {
    color: #d93d86;
    display: none;
}

@media screen and (min-width: 940px) {
    .logo {
        width: 45px;
    }
}